 @font-face {
    font-family: lalezar;
    src: url('../fonts/Lalezar-Regular.ttf');
}

@font-face {
    font-family: Vazir;
    src: url(../fonts/v/Vazir-FD-WOL.ttf);
}
h4,h1,h2{
    font-family: lalezar;
}
body{
    font-family: Vazir;
    background-color: #F7F7F7;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* left side */
.header-left{
   background-color:#34B169;
}
.icon-phon{
    width: 50px;
}
.contact:hover{
    color:black !important;
}
.contact:hover svg{
    color:black !important;
}
.btn-vrod{
border-radius: 15px !important;
}

.btn-vrod:hover .svg-inline--fa {
    color: black !important;
}


.hand-hold{
    margin:65px 0 65px 0;
}
.btn-sabt{
    padding: 15px 40px;
    font-size: 38px;
    margin-bottom: 50px;
    border-radius: 25px;
}
.mosbat{
    width: 40px;
}
/* right side */
.nav-container{
    position: absolute;
    z-index: 2;
}
.navbar-light .navbar-toggler {
    background-color: rgb(56, 56, 56);
    border-radius: 0;
    margin-right: 12px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.5s ease;
}

.carousel-img{
    filter: brightness(50%);
}
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border:2px solid #fff;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #fff !important;
}
.carousel-caption{
    bottom: 46%;
}
.carousel-indicators{
    z-index: 1 !important;
}
.box{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    right: 20%;
}
.dropdown-container{
    background-color: rgba(255, 255, 250, 0.6);
    border-radius: 10px;
}
.dropdown-button {
    border-radius: 30px;
    background-color: #34B169;
    font-size: 12px;
}
.dropdown-button:focus{
    box-shadow: none !important;
    color: black !important;
    background-color: #288650;

}
.dropdown-button:hover{
    box-shadow: none !important;
    color: black !important;
    background-color: #288650;

}
.dropdown-toggle:focus{
    box-shadow: none;
}
.btn-outline-success{
    outline: #34B169 !important;
}
.show-slider:focus{
    box-shadow: none !important;
}
/* owl */
.owl-dots{
    display: none;
}
.owl-img{
    border-radius: 10px 10px 0 0;
}
.bead-metr-img{
    width: 15px !important;
}
.ghimat{
background-color: #34B169;
border-radius: 0 0 10px 10px;
}
.owl-theme .owl-nav {
    position: absolute;
    top: -40px;
    width: 100%;
    margin: 0;
    text-align: start;
}
.owl-prev span {
    display: inline-block;
    width: 30px;
    border: 1px solid;
    height: 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 25%;
    font-size: 22px;
    padding: 0px 3px 0 1px;
    color: green;
    margin-left: 28px;
}
.owl-next span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: green;
    text-align: center;
    border-radius: 20%;
    font-size: 22px;
    padding: 0px 3px 0 1px;
    color: #fff;
}
.see-all{
    border-radius: 15px;
}
/* content */
.about{
    background-color: #fff;
}
.about .back-img{
    background-color: #34B169;
    width: 50%;
    display: block;
    height: 100% !important;
}
.about img{
    border-radius: 0 35% 0 0;
    border: 3px solid green;
}
.first-title{
    color: #288650;
}
.about-caption{
    text-align: justify;
}
/* servis */
.servis{
    background-color: #fff;
}
.card-border-1{
    border-radius: 0 30% 0 0;
}
.card-border-2{
    border-radius: 0 0 0 30%;
}
/* media */

@media (max-width: 991px) {

    .offcanvas{
        background-color: #34B169 !important;
    }
    .hand-hold img{
        width: 10rem !important;
    }
    .box{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
    }
    .hand-hold{
        margin: 0;
    }
    .btn-sabt {
        margin-bottom: 20px;
    }
    .about-img-container{
        position:  relative !important;
        justify-content: center !important;
    }
    .about img {
        width: 50% !important;
        border-radius: 0 50% 0 0;
        border: 3px solid green;
        box-shadow: -30px 20px 0px -5px #34B169;
    }
}
@media (max-width: 767px){
    .hand-hold img{
        width: 9rem !important;
    }
    .hand-hold{
        margin: 0;
    }
    .btn-sabt {
        font-size: 25px;
        padding: 15px 40px;
        margin-bottom: 20px;
    }
    .caption1{
        font-size: 17px !important;
    }   
    .caption-2{
        font-size: 12px !important;
    } 
    
} 
@media (max-width: 575px){
    .hand-hold img{
        width: 6rem !important;
    }
    .carousel-indicators [data-bs-target]{
        width: 10px;
        height: 10px;
    }
    .carousel-caption h1{
        font-size: 20px !important;
        margin-bottom: 28px;
    }
    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 3px;
    }
    .navbar-brand img{
        width: 75px;
    }
    .btn-sabt{
        padding: 10px 30px;
    }
    .offcanvas-end{
        width: 250px;
    }
    .hand-hold {
        margin: 0 ;
    }
    .btn-sabt {
        font-size: 25px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
/* owl */
    .caption1{
        font-size: 19px !important;
    }
    .caption-2 {
        font-size: 16px !important;
    }
   
} 